.tp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.tp-mt-2 {
    margin-top: 20px;
}

.tp-ml-2 {
    margin-left: 20px;
}

.tp-error {
    color: red;
}